/* Universal Styles */

body {
	margin: 0; 
	color: seashell;
	background-color: #000;
	font-family: "Helvetica", sans-serif;
	font-size: 22px;
	opacity: 0.9;
	text-align: center;
}

a {
	color: #fff;
	text-decoration: underline;
}

h2 {
	margin-bottom: 0px;
}

p {
font-weight: bold;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
}

/* Header Section */

header {
	position: fixed;
	width: 100%;
	z-index: 1;
	height: 69px;
	background-color: #000;
	border-bottom: 1px solid seashell;
	display: flex;
	align-items: center;
}

header img {
	height: 50px;
	padding-left: 10px;
}

nav {
	text-align: right;
	flex-grow: 1;
}

nav span {
	display: inline-block;
	padding: 10px 20px;
}

/* Main Content */

.main {
	position: relative;
	top: 69px;
	width: 1200px;
	opacity: 0.9;
	display: flex;
	flex-flow: column wrap;
}

/* Mission Section */

#mission {
	background-image: url("../images/img-mission-background.jpg");
	height: 700px;
}

#mission-headline {
	background-color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 150px;
	width: 1200px;
}

/* Menu Section */

#menu {
	width: 1000px;

}

#menu .teas {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#menu img {
	width: 300px;
	height: 200px;
	margin-bottom: 10px;
}

/* Locations Section */

#locations {
	background-image: url("../images/img-locations-background.jpg");
	height: 500px;
}


.stores {
	padding: 15px 40px;
	display: flex;
	justify-content: space-around;
}

.stores-column {
	background-color: #000;
	width: 300px;
	height: 275px;
	opacity: 1;
}

/* Footer Section */

footer {
	padding-left: 20px;
}

footer p {
	text-align: left;
}